<div class="card">
    <div style="border-radius: 200px; height: 200px; width: 200px; background: whitesmoke; margin: 0 auto;">
        <img src="https://cdn.pixabay.com/photo/2017/01/13/01/22/ok-1976099_1280.png" alt="" style="width: 188px;">
    </div>
    <h2>Order has been placed successfully</h2>
    <strong style="margin-left: 32px;">Thankyou for shopping with us</strong>
    <h5 style="margin-top: 20px; margin-left: 40px; color: green;">Kindly Pay Amount: <strong>₹ {{totalamount}}00</strong> during delivery</h5>
</div>